.main-container{
    width: 100%;
    height: max-content;
    padding: 2% 10% 5% 10%
}

.bg-image{
  background-image: url('https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 1000px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image-text{
  max-width: 900px;
  text-align: center;
}

.main-article-paragraph{
  text-align: center;
}

.button-right{
  text-align: right;
}

.main-article-heading-right{
  text-align: right;
}

.button-left{
  text-align: left;
}

article{
  margin: 2%;
}